{{ template "head" . }}
<title>{{.PageTitle}}</title>
</head>
<body>
    {{ template "header" . }}
    <h1>{{.PageTitle}}</h1>
    <main class="main">
        <section class="main__sidebar-left">
            {{ template "admin-sidebar" . }}
        </section>
        <section class="main__content">
            <div class="dashboard">
                <h1>Dashboard</h1>
            </div>
        </section>
        <section class="main__sidebar-right">
            {{ template "admin-sidebar" . }}
        </section>
    </main>
</body>
</html>