{{ define "admin-sidebar" }}
<div class="admin-sidebar">
    <div class="admin-sidebar__container-menu">
        <h2 class="h4">Dashboard</h2>
    </div>
    <div class="admin-sidebar__container-menu">
        <a class="body-4 no-link" href="#">Item 1</a>
    </div>
    <div class="admin-sidebar__container-menu">
        <a class="body-4 no-link" href="#">Item 2</a>
    </div>
    <div class="admin-sidebar__container-menu">
        <a class="body-4 no-link" href="#">Item 3</a>
    </div>
</div>
{{ end }}