.admin-sidebar {
    padding: 5rem 1rem 1rem 1rem;
    color: $white;
    background-color: $black;
    border: 1px solid $white;

    a {
        color: $white;
    }

    &__container-menu {
        margin-bottom: 1rem;
    }
}