.add-users {
    color: $white;
    background-color: $black;

    &__form-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "add-users__email"
        "add-users__password"
        "add-users__button";
        padding-top: 5rem;
    }

    &__email {
        grid-area: add-users__email;
        width: 50%;
        margin: 0rem auto 2rem auto;
        border: 1px solid #fff;

        @include respond(md) {
            width: 80%;
        }
    }

    &__password {
        grid-area: add-users__password;
        width: 50%;
        margin: 0rem auto 2rem auto;
        border: 1px solid #fff;

        @include respond(md) {
            width: 80%;
        }
    }

    &__button {
        grid-area: add-users__button;
        margin: 0rem auto 2rem auto;
        border: 1px solid #fff;
    }
}